<div>
  <h2 id="page-heading" data-cy="PaiementHeading">
    <span jhiTranslate="coopcycleApp.paiement.home.title">Paiements</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="loadAll()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="coopcycleApp.paiement.home.refreshListLabel">Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-paiement"
        [routerLink]="['/paiement/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="coopcycleApp.paiement.home.createLabel"> Create a new Paiement </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="paiements?.length === 0">
    <span jhiTranslate="coopcycleApp.paiement.home.notFound">No paiements found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="paiements && paiements.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr>
          <th scope="col"><span jhiTranslate="global.field.id">ID</span></th>
          <th scope="col"><span jhiTranslate="coopcycleApp.paiement.amount">Amount</span></th>
          <th scope="col"><span jhiTranslate="coopcycleApp.paiement.produit">Produit</span></th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let paiement of paiements; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/paiement', paiement.id, 'view']">{{ paiement.id }}</a>
          </td>
          <td>{{ paiement.amount }}</td>
          <td>
            <div *ngIf="paiement.produit">
              <a [routerLink]="['/produit', paiement.produit?.id, 'view']">{{ paiement.produit?.id }}</a>
            </div>
          </td>
          <td class="text-end">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/paiement', paiement.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/paiement', paiement.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(paiement)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
