<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="livreur">
      <h2 data-cy="livreurDetailsHeading"><span jhiTranslate="coopcycleApp.livreur.detail.title">Livreur</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="coopcycleApp.livreur.id">Id</span></dt>
        <dd>
          <span>{{ livreur.id }}</span>
        </dd>
        <dt><span jhiTranslate="coopcycleApp.livreur.firstname">Firstname</span></dt>
        <dd>
          <span>{{ livreur.firstname }}</span>
        </dd>
        <dt><span jhiTranslate="coopcycleApp.livreur.lastname">Lastname</span></dt>
        <dd>
          <span>{{ livreur.lastname }}</span>
        </dd>
        <dt><span jhiTranslate="coopcycleApp.livreur.phone">Phone</span></dt>
        <dd>
          <span>{{ livreur.phone }}</span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/livreur', livreur.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
