<div>
  <h2 id="page-heading" data-cy="ProduitHeading">
    <span jhiTranslate="coopcycleApp.produit.home.title">Produits</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="loadAll()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="coopcycleApp.produit.home.refreshListLabel">Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-produit"
        [routerLink]="['/produit/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="coopcycleApp.produit.home.createLabel"> Create a new Produit </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="produits?.length === 0">
    <span jhiTranslate="coopcycleApp.produit.home.notFound">No produits found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="produits && produits.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr>
          <th scope="col"><span jhiTranslate="coopcycleApp.produit.id">Id</span></th>
          <th scope="col"><span jhiTranslate="coopcycleApp.produit.price">Price</span></th>
          <th scope="col"><span jhiTranslate="coopcycleApp.produit.type">Type</span></th>
          <th scope="col"><span jhiTranslate="coopcycleApp.produit.description">Description</span></th>
          <th scope="col"><span jhiTranslate="coopcycleApp.produit.commande">Commande</span></th>
          <th scope="col"><span jhiTranslate="coopcycleApp.produit.commerce">Commerce</span></th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let produit of produits; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/produit', produit.id, 'view']">{{ produit.id }}</a>
          </td>
          <td>{{ produit.price }}</td>
          <td>{{ produit.type }}</td>
          <td>{{ produit.description }}</td>
          <td>
            <span *ngFor="let commande of produit.commandes; let last = last">
              <a class="form-control-static" [routerLink]="['/commande', commande.id, 'view']">{{ commande.id }}</a
              >{{ last ? '' : ', ' }}
            </span>
          </td>
          <td>
            <div *ngIf="produit.commerce">
              <a [routerLink]="['/commerce', produit.commerce?.id, 'view']">{{ produit.commerce?.id }}</a>
            </div>
          </td>
          <td class="text-end">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/produit', produit.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/produit', produit.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(produit)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
