<div>
  <h2 id="page-heading" data-cy="CommerceHeading">
    <span jhiTranslate="coopcycleApp.commerce.home.title">Commerce</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="loadAll()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="coopcycleApp.commerce.home.refreshListLabel">Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-commerce"
        [routerLink]="['/commerce/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="coopcycleApp.commerce.home.createLabel"> Create a new Commerce </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="commerce?.length === 0">
    <span jhiTranslate="coopcycleApp.commerce.home.notFound">No commerce found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="commerce && commerce.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr>
          <th scope="col"><span jhiTranslate="coopcycleApp.commerce.id">Id</span></th>
          <th scope="col"><span jhiTranslate="coopcycleApp.commerce.name">Name</span></th>
          <th scope="col"><span jhiTranslate="coopcycleApp.commerce.address">Address</span></th>
          <th scope="col"><span jhiTranslate="coopcycleApp.commerce.cooperative">Cooperative</span></th>
          <th scope="col"><span jhiTranslate="coopcycleApp.commerce.utilisateur">Utilisateur</span></th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let commerce of commerce; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/commerce', commerce.id, 'view']">{{ commerce.id }}</a>
          </td>
          <td>{{ commerce.name }}</td>
          <td>{{ commerce.address }}</td>
          <td>
            <span *ngFor="let cooperative of commerce.cooperatives; let last = last">
              <a class="form-control-static" [routerLink]="['/cooperative', cooperative.id, 'view']">{{ cooperative.id }}</a
              >{{ last ? '' : ', ' }}
            </span>
          </td>
          <td>
            <div *ngIf="commerce.utilisateur">
              <a [routerLink]="['/utilisateur', commerce.utilisateur?.id, 'view']">{{ commerce.utilisateur?.id }}</a>
            </div>
          </td>
          <td class="text-end">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/commerce', commerce.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/commerce', commerce.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(commerce)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
