<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="paiement">
      <h2 data-cy="paiementDetailsHeading"><span jhiTranslate="coopcycleApp.paiement.detail.title">Paiement</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ paiement.id }}</span>
        </dd>
        <dt><span jhiTranslate="coopcycleApp.paiement.amount">Amount</span></dt>
        <dd>
          <span>{{ paiement.amount }}</span>
        </dd>
        <dt><span jhiTranslate="coopcycleApp.paiement.produit">Produit</span></dt>
        <dd>
          <div *ngIf="paiement.produit">
            <a [routerLink]="['/produit', paiement.produit?.id, 'view']">{{ paiement.produit?.id }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/paiement', paiement.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
