<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="produit">
      <h2 data-cy="produitDetailsHeading"><span jhiTranslate="coopcycleApp.produit.detail.title">Produit</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="coopcycleApp.produit.id">Id</span></dt>
        <dd>
          <span>{{ produit.id }}</span>
        </dd>
        <dt><span jhiTranslate="coopcycleApp.produit.price">Price</span></dt>
        <dd>
          <span>{{ produit.price }}</span>
        </dd>
        <dt><span jhiTranslate="coopcycleApp.produit.type">Type</span></dt>
        <dd>
          <span>{{ produit.type }}</span>
        </dd>
        <dt><span jhiTranslate="coopcycleApp.produit.description">Description</span></dt>
        <dd>
          <span>{{ produit.description }}</span>
        </dd>
        <dt><span jhiTranslate="coopcycleApp.produit.commande">Commande</span></dt>
        <dd>
          <span *ngFor="let commande of produit.commandes; let last = last">
            <a [routerLink]="['/commande', commande?.id, 'view']">{{ commande.id }}</a
            >{{ last ? '' : ', ' }}
          </span>
        </dd>
        <dt><span jhiTranslate="coopcycleApp.produit.commerce">Commerce</span></dt>
        <dd>
          <div *ngIf="produit.commerce">
            <a [routerLink]="['/commerce', produit.commerce?.id, 'view']">{{ produit.commerce?.id }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/produit', produit.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
